block page_style
  link(href='lib/datepicker/css/datepicker.css', rel='stylesheet')
  link(href='lib/colorpicker/css/colorpicker.css', rel='stylesheet')
  link(href='lib/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css', rel='stylesheet')
  link(href='lib/bootstrap-timepicker/compiled/timepicker.css', rel='stylesheet')
  link(href='lib/bootstrap-formhelpers/css/bootstrap-formhelpers.css', rel='stylesheet')
  link(href='lib/bootstrap-notify/bootstrap-notify.css', rel='stylesheet')
  link(href='lib/bootstrap-notify/alert-bangtidy.css', rel='stylesheet')
  link(href='lib/bootstrap-notify/alert-blackgloss.css', rel='stylesheet')
  link(href='lib/bootstrap-spinner/bootstrap-spinner.css', rel='stylesheet')
  link(rel='stylesheet', href='stylesheets/isotope.css')

  // WYSI HTML EDITOR
  link(rel='stylesheet', type='text/css', href='lib/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css')
  style(type='text/css')
    h2 { margin-top: 2em; }
    #dropdown-buttons .btn-group:first-child { margin-left: 0px; }
    #dropdown-buttons .btn-group { margin-left: 31px; }
    #dropdown-buttons2 .btn-group:first-child { margin-left: 0px; }
    #dropdown-buttons2 .btn-group { margin-left: 18px; }
    .sample-buttons .btn-group {
    width: 115px;
    height: 40px;
    margin: 0em;
    }
    .filter-demo-item {
    float: left;
    width: 50px;
    height: 50px;
    margin: .5em;
    background: #667;
    }
    .loading {
    margin-right: .25em;
    }