extends ../_base_bt_layout

block content
    .wrapper.
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/weixinwall">
                  微信墙
                </a>
                <ul class="nav">
                    <li><a href="/weixinwall">首页</a></li>
                    <li><a href="/weixinwall/register" class="active">申请</a></li>
                    <li><a href="/weixinwall/admin">管理</a></li>
                </ul>
            </div>
          </div>
        </div>﻿<div class="container">
            <div class="hero-unit">
                <h1>微信墙服务</h1>
                <p class="hero-tips">在活动现场, 通过微信发送你想说的话, 同步到大屏幕上! </p>
                <p><a href="/weixinwall/register" class="btn btn-primary btn-large f16">立即申请</a></p>
            </div>
            <div class="row">
                <div class="span4">
                    <h2>快捷发言</h2>
                    <p>手机端直接关注微信即可发言, 无须发送短信或输入网址.</p>
                </div>
                <div class="span4">
                    <h2>完美兼容</h2>
                    <p>完美兼容人人墙, 微博墙.通过微信可发送相关内容至第三方活动墙.</p>
                </div>
                <div class="span4">
                    <h2>快速开通</h2>
                    <p>即注册即开通, 零延迟零等待.</p>
                </div>
            </div>
            <hr/>
            <footer>
                <p>© Copyright 2013 摸摸大</p>
            </footer>
        </div>﻿<div style="display:none">