extends ../_base_bt_layout
block head
    link(rel='stylesheet', href='http://www.weixinwall.com/dxhand/resources/css/wall.css')
block content
    .wrapper.
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="http://www.weixinwall.com/dxhand/wall">
                  微信墙
                </a>
                <ul class="nav">
                    <li><a href="http://www.weixinwall.com/dxhand/wall">首页</a></li>
                    <li><a href="/weixinwall/register" class="active">申请</a></li>
                    <li><a href="/weixinwall/admin">管理</a></li>
                            </ul>
            </div>
          </div>
        </div>﻿<div class="container">
            <ul class="breadcrumb">
                <li>
                <a href="#">首页</a> <span class="divider">/</span>
                </li>
                <li class="active">申请微信墙</li>
            </ul>

            <form class="form-horizontal reg-form">
                <div class="control-group">
                    <label class="control-label" for="reg-email">Email</label>
                    <div class="controls">
                        <input type="text" id="reg-email" placeholder="邮箱地址,用于登录"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="reg-password">密码</label>
                    <div class="controls">
                        <input type="password" id="reg-password" placeholder="至少六位"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="reg-nickname">称呼</label>
                    <div class="controls">
                        <input type="text" id="reg-nickname" placeholder="你的称呼"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="reg-activity-name">活动名称</label>
                    <div class="controls">
                        <input type="text" id="reg-activity-name" placeholder="用于显示在微信墙上"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="reg-activity-call">活动简称</label>
                    <div class="controls">
                        <input type="text" id="reg-activity-call" placeholder="上墙用, 不超过五个字"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="button" class="reg-btn btn">提交申请</button>
                    </div>
                </div>

            </form>
            <div class="reg-tips">
                已有账号?<a href="/weixinwall/login">直接登录</a>
            </div>

        </div>﻿<div style="display:none">
