!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title Bootstrap Base Demo
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='siva learning base web design and other fun stuff!')
        meta(name='author', content='siva, ghlndsl@126.com')
        link(rel='stylesheet', href='http://www.weixinwall.com/dxhand/resources/css/wechatwall.css?v=1190295465')
        style
            body{
            /*  background-image:url(http://www.weixinwall.| m/dxhand/resources/img/yzh.png);   */
            /*  background: #000 center center fixed no-repeat;*/
                background-color:#259;
            /*  behavior: url(http://www.weixinwall.com/dxhand/border-dius| .htc);*/
            }
            #header h1 {
                font-size: 90px;
                margin: 0;
            }
            #header .info {
                font-size: 0.6em;
                float: right;
            }
        script
            var base_url='http://www.weixinwall.com/dxhand/';
            var activity_id='208';
            var activity_name='gg';
            var activity_call='gg';
            var walls=[];
            //请求数据接口 se_url+'api/get_walls/'+activity_id+'/'+最新mid
    body
        .wrapper.
            <div id='page'>
                <div id='header'>
                    <h1>gg</h1>
                    <div class='info'>

                                            <p id='line1'>关注大学助手(微信号dxhand)</p>
                        <p id='line2'>发送"gg墙"即可进入刷屏模式</p>
                                        </div>
                    <div class='clear'></div>
                </div>
                <div id='content'>
                                    <div class='post'>
                        <div id='head_img' >
                                <div id='post_name' >
                                    <div></div>
                                </div>
                        </div>
                        <div id='post_container'>
                            <div id='post_content'></div>
                            <div id='post_tag'></div>
                        </div>
                    </div>
                                    <div class='post'>
                        <div id='head_img' >
                                <div id='post_name' >
                                    <div></div>
                                </div>
                        </div>
                        <div id='post_container'>
                            <div id='post_content'></div>
                            <div id='post_tag'></div>
                        </div>
                    </div>
                                    <div class='post'>
                        <div id='head_img' >
                                <div id='post_name' >
                                    <div></div>
                                </div>
                        </div>
                        <div id='post_container'>
                            <div id='post_content'></div>
                            <div id='post_tag'></div>
                        </div>
                    </div>
                                </div>
                <div id='footer'></div>
            </div>
            <div style="display:none">
