h2 Inbox
table.table.table-first-column-check.table-hover
	thead
		tr
			th.span1
				i.icon-star-empty
			th.span2 From
			th.span9 Subject
			th.span2 Date
		tr
			td
				a(href='#')
					i.icon-star-empty
			td
				strong John Doe
			td
				strong Message body goes in here
				span.label.label-success.pull-right(style='margin-left: .5em;') Follow Up 
				span.label.label-info.pull-right Work
			td
				strong 11:23 PM
		tr
			td
				a(href='#')
					i.icon-star-empty
			td John Doe
			td
				| Message body goes in here
				span.label.label-success.pull-right Follow Up
			td Sept4
		tr
			td
				a(href='#')
					i.icon-star
			td
				strong John Doe
			td
				strong Message body goes in here
				span.label.label-important.pull-right Spam
			td
				strong Sept3
		tr
			td
				a(href='#')
					i.icon-star
			td
				strong John Doe
			td
				strong Message body goes in here
				span.label.pull-right Personal
			td
				strong Sept3