.widget
  h2 Latest Comments
  ul.cards
    li
      p.title Ashley Jacobs
      .img
        img(src='holder.js/150x150/auto')
        .label.label-info Pro
      p.info-text
        | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      .stats
        p.time 5 minutes ago
        span
          | 15
          i.icon-pushpin
        span
          | 27
          i.icon-comment
        span
          | 158
          i.icon-eye-open
    li
      p.title Sarah Whitman
      .img
        img(src='holder.js/150x150/auto')
        .label.label-warning Free
      p.info-text
        | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master.
      .stats
        p.time 29 minutes ago
        span
          | 10
          i.icon-pushpin
        span
          | 19
          i.icon-comment
        span
          | 58
          i.icon-eye-open
    li
      p.title Connor Adams
      .img
        img(src='holder.js/150x150/auto')
        .label.label-info Pro
      p.info-text Anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack.
      .stats
        p.time Yesterday
        span
          | 25
          i.icon-pushpin
        span
          | 39
          i.icon-comment
        span
          | 252
          i.icon-eye-open
    li.more
      a(href='#') Show All