h2 Mailboxes
ul.cards.widget.list
	li
		i.icon-envelope
		| New
		span.pull-right.label.label-important 23
	li
		i.icon-share
		| Follow Up
		span.pull-right.label.label-important 13
	li
		i.icon-star-empty
		| Starred
		span.pull-right.label.label-important 73
	li
		i.icon-hdd
		| All Messages
		span.pull-right.label.label-important 89
	li
		i.icon-bookmark-empty
		| Archived
		span.pull-right.label.label-important 24
	li
		i.icon-thumbs-up
		| Important
		span.pull-right.label.label-important 10
	li
		i.icon-envelope
		| Personal
		span.pull-right.label.label-important 39