.widget
  ul#myTab.nav.nav-tabs.three-tabs.fancy
    li.active
      a(href='#home', data-toggle='tab') Orders
    li
      a(href='#promotions', data-toggle='tab') Promotions
    li.dropdown
      a(href='#deals', data-toggle='tab') Deals
  .tab-content
    #home.tab-pane.fade.in.active
      ul.cards
        li
          p.pull-right.text-error $20,500
          a(href='#')
            p.title Care Hospital
          p.info Sales Rating: 86%
        li
          p.pull-right.text-info $9,400
          a(href='#')
            p.title New Automotive
          p.info Sales Rating: 72%
        li
          p.pull-right.text-success $60,200
          a(href='#')
            p.title Money Financial
          p.info Sales Rating: 92%
        li
          p.pull-right.text-important $8,640
          a(href='#')
            p.title Custom Insurance
          p.info Sales Rating: 84%
        li
          p.pull-right.text-warning $36,700
          a(href='#')
            p.title New Technology
          p.info Sales Rating: 66%
    #promotions.tab-pane.fade
      ul.cards
        li(style='padding: 0em 1em;')
          h3 This is something interesting.
        li
          | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation labore velit, blog sartorial PBR leggings next level wes anderson artisan.
        li
          | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation labore velit, blog sartorial PBR leggings next level wes anderson artisan.
        li
          | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation labore velit, blog sartorial PBR leggings next level wes anderson artisan.
    #deals.tab-pane.fade
      ul.cards
        li
          p
            | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid oranges apples banana.
          a.btn.btn-mini(href='#') Show me
        li
          p
            | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid oranges apples banana.
          a.btn.btn-mini(href='#') Show me
        li
          p
            | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid oranges apples banana.
          a.btn.btn-mini(href='#') Show me
        li
          p
            | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid oranges apples banana.
          a.btn.btn-mini(href='#') Show me