h2
  | Pending Deals
  span.info You have 15 deals that will be closing soon.
ul.item-summary
  li
    .overview
      p.main-detail April 14th
      p.sub-detail 11:25 PM
      span.label.label-success Active
      span.label.label-info New
    .info
      p
        | Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
      a.btn.btn-mini(href='#') Show Details
    .clearfix
  li
    .overview
      p.main-detail June 3rd
      p.sub-detail 8:54 PM
      span.label.label-success Active
    .info
      p
        | Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
      a.btn.btn-mini(href='#') Show Details
    .clearfix
