h2 Top Users
.well.widget(style='display: none;')
	form.form-inline(style='margin-bottom: 0px;')
		input.input-xlarge(placeholder='Search All Users...', type='text')
		button.btn(type='button')
			i.icon-search
			| Go
table.table.table-first-column-check
	thead
		tr
			th
				input(type='checkbox')
			th First
			th Last
			th Username
	tbody
		tr
			td
				input(type='checkbox')
			td Mark
			td Tompson
			td the_mark7
		tr
			td
				input(type='checkbox')
			td Ashley
			td Jacobs
			td ash11927
		tr
			td
				input(type='checkbox')
			td Audrey
			td Ann
			td audann84
		tr
			td
				input(type='checkbox')
			td John
			td Robinson
			td jr5527
		tr
			td
				input(type='checkbox')
			td Aaron
			td Butler
			td aaron_butler
		tr
			td
				input(type='checkbox')
			td Chris
			td Albert
			td cab79