h2 Upcoming Events
ul.cards.widget
	li
		button.btn.pull-right.btn-mini Open
		i.pull-left.muted.icon-bar-chart
		div
			p.title  Campaign Ends
			p.info Saturday, July 22nd 12:45PM
	li
		button.btn.pull-right.btn-mini Open
		i.pull-left.muted.icon-group
		div
			p.title  User Training
			p.info Saturday, July 22nd 12:45PM
	li
		button.btn.pull-right.btn-mini Open
		i.pull-left.muted.icon-time
		div
			p.title  Free Trial Ends
			p.info Saturday, July 22nd 12:45PM
	li
		button.btn.pull-right.btn-mini Open
		i.pull-left.muted.icon-gift
		div
			p.title  User Appreciation Day
			p.info Saturday, July 22nd 12:45PM
	li
		button.btn.pull-right.btn-mini Open
		i.pull-left.muted.icon-plane
		div
			p.title  Flight Training
			p.info Saturday, July 22nd 12:45PM