.widget
  ul.nav.nav-tabs.two-tabs.fancy
    li.active
      a(href='#upgrade', data-toggle='tab') Upgrade Account
    li
      a(href='#why-upgrade', data-toggle='tab') Why Upgrade?
  .tab-content
    #upgrade.tab-pane.fade.in.active
      ul.unstyled.cards.not-bottom
        li
          i.icon-leaf.pull-left.text-info
          p.title
            strong More Features
          p.info.small This is the kind of thing you really need.
        li
          i.icon-group.pull-left.text-info
          p.title
            strong Unlimited Users
          p.info.small This is the kind of thing you really need.
        li
          i.icon-trophy.pull-left.text-info
          p.title
            strong Custom Database
          p.info.small This is the kind of thing you really need.
        li
          i.icon-book.pull-left.text-info
          p.title
            strong Enhanced Reporting
          p.info.small This is the kind of thing you really need.
      button.btn.btn-primary.pull-right Upgrade Now
    #why-upgrade.tab-pane.fade
      h3 This is something interesting.
      p
        | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation labore velit, blog sartorial PBR leggings next level wes anderson artisan.
      button.btn.btn-primary.pull-right Upgrade Now